body{
	background-image: url("https://api.mtyqx.cn/api/random.php");
}
.dlk{
	width:240px;
	height:350px;
	overflow:hidden;
	margin:0 auto;
	margin-top: 50px;
	padding:0 50px 0;
	background-color:rgba(255,255,255,0.6);
	border-radius: 30px;
	border:2px solid blue;
}
.zck{
	width:240px;
	height:510px;
	overflow:hidden;
	margin:0 auto;
	margin-top: 50px;
	padding:0 50px 0;
	background-color:rgba(255,255,255,0.6);
	border-radius: 30px;
	border:2px solid blue;
}
#dhwz{
	text-align: center;
    font-size: 48px;
    line-height: 100%;
    color: #6699FF;
    margin-top: 80px;
	font-family: KaiTi, sans-serif;
}
.a-item {
    margin: 24px 0;
}
.b-item {
    margin: 24px 0 0;
}
.c-item {
    margin: 12px 0 0;
}
.register-form-wrapper .a-item>span {
    height: 60px;
    width: 400px;
}
.gAdyja {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 2px;
    height: 32px;
    color: #526075;
    border: 1px solid #d2d6ea;
    box-shadow: inset 0 1px 3px 0 #d2d6ea;
    background: #fafafc;
    -webkit-transition: .18s cubic-bezier(.4,0,.2,1);
    transition: .18s cubic-bezier(.4,0,.2,1);
	width: 100%;
}
.dpBUxt {
    display: table;
    width: 100%;
}
.register-form-wrapper .a-item>span>span>span:first-child {
    padding-left: 17px;
    font-size: 16px;
}
.gFJedW {
    vertical-align: middle;
    display: table-cell;
    width: 1px;
}
[class*=" icon__"], [class^=icon__] {
    font-family: ucicon!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;
    text-decoration: inherit;
    text-align: center;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.register-form-wrapper input {
    height: 60px!important;
    padding-left: 21px!important;
    border-radius: 4px;
}
.gAdyja input {
    line-height: 30px;
    height: 30px;
}
.gAdyja input, .gAdyja input:hover, .gAdyja input:focus {
    border: none;
    outline: none;
    background: none;
}
.gAdyja input {
    vertical-align: middle;
    display: table-cell;
    box-sizing: border-box;
    width: 100%;
    padding: 0px 8px;
    margin: 0;
    font-size: inherit;
    color: inherit;
}
.dlkbt{
	font-size: 24px;
    font-weight: 700;
	margin: 0;
}
.register-form-top {
    position: relative;
    line-height: 24px;
    height: 24px;
	margin: 70px 0 0;
}
.register-form-top .register-form-line {
    background-color: #3357df;
}
.register-form-top .register-form-line {
    position: absolute;
    width: 24px;
    top: -12px;
    left: 1px;
    height: 3px;
    border-radius: 2px;
}
.register-form-top .register-form-left {
    font-size: 24px;
    font-weight: 700;
}
.register-form-top .register-form-right {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    line-height: 14px;
    height: 14px;
}
.anniu button {
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border-radius: 2px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    height: 32px;
    padding: 0 12px;
    color: #ffffff;
    fill: #ffffff;
    border: none;
    background: linear-gradient(
135deg
 ,#6488fc 0%,#3860f4 100%);
    box-shadow: 0 1px 3px -1px #5c76e8;
    transition: all .22s cubic-bezier(.4,0,.2,1);
}
.zhmm {
    float: right;
    font-size: 12px;
    color: #526075;
    text-decoration: none;
    margin: 12px 0;
}
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
  margin: 0 0 0 5px;
}
#hidden {
 display: none;
 }
 ul {
 list-style-type: none;
 padding-inline-start: 1px;
 }
 li { display: inline-block;}
.c-gAdyja {
	position: relative;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    border-radius: 2px;
    height: 32px;
    color: #526075;
    border: 1px solid #d2d6ea;
    box-shadow: inset 0 1px 3px 0 #d2d6ea;
    background: #fafafc;
    -webkit-transition: .18s cubic-bezier(.4,0,.2,1);
    transition: .18s cubic-bezier(.4,0,.2,1);
	width: 100%;
}
.c-dpBUxt {
	display: table;
}
.c-gFJedW {
	vertical-align: middle;
    display: table-cell;
    width: 1px;
}
.c-gAdyja a {
    line-height: 30px;
    height: 30px;
}
.c-gAdyja a, .gAdyja a:hover, .gAdyja a:focus {
    border: none;
    outline: none;
    background: none;
}
.c-gAdyja a {
    vertical-align: middle;
    display: table-cell;
    box-sizing: border-box;
    padding: 0px 8px;
    margin: 0;
    font-size: inherit;
    color: inherit;
}
.xuanze{
	vertical-align: middle;
	height: 32px;
	margin: 0 auto;
}
.xiala{
	vertical-align: middle;
	height: 32px;
	margin: 0 auto;
	border: 0;
	display: block;
	position: relative;
	background-color:transparent;
	width: 180px;
	text-align: center;
}
